

   /* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
}

/* Container Layout */
.container {
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;
}

/* Left Side (Profile Section) */
.left-side {
  flex: 1;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  gap: 20px;
}

.left-side .form-group {
  margin-bottom: 20px;
}

.left-side .image img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.left-side button {
  padding: 10px 20px;
  background-color: #006666;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
 
}

.left-side button:hover {
  background-color: #006666; ;
}

/* Right Side (Posts Section) */
.right-side {
  flex: 2;
  display: flex;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  gap: 25px;
}

.right-side .post-image {
  width: 350px;

  max-height: 350px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 5px;
}

.right-side button {
  padding: 8px 16px;
  background-color: #1e6666;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.right-side button:hover {
  background-color: #006666; 
}

/* Shared Button Styles */
button {
  font-size: 14px;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

/* No Post Message */
.right-side div {
  margin-top: 20px;
  font-size: 16px;
  color: #555;
}
